/** About **/

.aboutWrapper {
    @extend %cusordefault;
    @include flexbox;
    flex-direction: column;
}

@media (orientation: landscape) {
    .aboutWrapper {
        flex-direction: column;
    }
}

@media (min-width: 1280px) {
    .aboutWrapper {
        flex-direction: column;
    }
}

.aboutWrapper h3 {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: $font-color;
    margin: 0;
    font-weight: 600;
}

.aboutWrapper p {
    font-weight: 100;
    padding: 15px;
    margin: 0;
    text-align: justify;
    font-size: 20px;
    color: $font-color;
}

@media (min-width: 320px) {
    .aboutWrapper p {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .aboutWrapper p {
        font-size: 22px;
    }
}

@media (max-width:768px) and (orientation: landscape) {
    .aboutWrapper p {
        font-size: 16px;
        padding: 13px;
    }
}

@media (min-width: 999px) {
    .aboutWrapper p {
        font-size: 24px;
    }
}

.aboutWrapper img {
    width: 100px;
    margin: 5px;
}

/* keyframes wipe-enter */

@keyframes wipe-enter {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(1, .025);
    }
}

.square {
    width: 100%;
    background: rgba(255,255,255,.1);
    padding: 5px;
    border-radius: 25px;
}

@media (min-width: 320px) {
    .square {
        width: 90%;
        padding: 30px;
    }
}

@media (min-width: 768px) {
    .square {
        width: 600px;
        padding: 40px;
    }
}

@media (orientation: landscape) {
    .square {
        padding: 5px;
    }
}

@media (min-width: 908px) {
    .square {
        flex-direction: column;
        width: 600px;
        padding: 40px;
        background: rgba(255,255,255,.1);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .square-animation {
        animation: wipe-enter 1s 1;
    }
}