/* Login */

.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;  
    color:black;
}


.login-container {
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 50em;
    max-height: 90%;
z-index: 9999 !important;
    border-radius: 6px;
    padding: 1em 1em 3em 2.5em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    z-index: 999;

    body.dark &{
        background-color: $darkgrey;
        color: white; 
    }

    .contacto-form {
        @include ubicacion (flex, flex-start, "", column);

        .login-title {
            font-size: 2em;
            padding-bottom: 1.5em;
            padding-top: 0.5em;
            color:black;
            text-align: center;

            body.dark &{
                color: white;
            }
        }

        .form-row {
            @include ubicacion (flex, flex-start, "", column);
            flex-wrap: wrap;
            margin-bottom: 1em;

            label {
                margin-bottom: 0.5em;
            }
        }

        .form-check {
            margin-bottom: 2em;
        }

    }

    .login-close {
        @include ubicacion (flex, "", "end", column);

        .cerrar {
            display: flex;
            justify-content: space-between;

        }
    }

    .login-img {
        width: 100%;
        padding-right: 1.5em;
        padding-top: 0.8em;
    }
}


.display-login {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
  }

  .hide-login {
    display: none;
  }



  .iniciar-sesion{
    position: absolute;
    left: 10px;
    }
    
    .iniciar-sesion p{
      font-size: 12px;
      padding: 13px;
      margin: 0;
      cursor: pointer;

      &:hover{
        color: #aafff6 !important;
      }
    }

/****************** fin login ******************/