section {
    @include flexbox;
    background-size: cover;
    flex-direction: column;
    width: 100%;
}

#index {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1f005e, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1f005e, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    height: 100vh;
}

#tienda{
    background: #AAFFA9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #11FFBD, #AAFFA9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4fbeff, #AAFFA9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
  }
  

  #simuladorInteractivo{
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    height: 100vh;
}



