/** Body **/

body {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to top, #1f005e, #8E2DE2);
    background: linear-gradient(to top, #1f005e, #8E2DE2);
    background-attachment: fixed;
    font-weight: bolder;
    font-family: 'Poppins', arial;
    font-size: 25px;
    color: #959595;
}