/** body y html**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #8E2DE2;
    background-attachment: fixed;
    font-family: 'Poppins', arial;
    color: $font-color;
}


h2 {
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 40px;
    animation: 0.6s arriba;
  }
  
  @media (min-width: 960px) {
    h2 {
      font-size: 100px;
      margin: 20px;
    }
  }