/* Base */
/** Variables **/
/** Font color **/
.disclaimer {
  visibility: hidden;
}

/** body y html**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  transition: 1s ease all;
}

body {
  background: #8E2DE2;
  background-attachment: fixed;
  font-family: "Poppins", arial;
  color: rgb(255, 255, 255);
}
body.dark {
  color: #cecece;
}

h2 {
  font-weight: 800;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 40px;
  animation: 0.6s arriba;
}
@media (min-width: 960px) {
  h2 {
    font-size: 100px;
    margin: 20px;
  }
}
body.dark h2 {
  color: #cecece;
  text-shadow: 1px 1px 1px black;
}

/** Keyframes **/
@keyframes menubarside {
  from {
    height: 0;
  }
  to {
    height: 69.5px;
  }
}
@keyframes menuitem {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes izquierda {
  from {
    transform: translatex(-100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes derecha {
  from {
    transform: translatex(100px);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes abajo {
  from {
    transform: translatey(100px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes arriba {
  from {
    transform: translatey(-100px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/** Mixins **/
/** Extends **/
/* placeholder = % + nombre {} */
h1 {
  cursor: pointer;
}

/** Mapas **/
/* Theme */
.switch-wrapper {
  position: fixed;
  top: 65px;
  left: 6px;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  transition: all 1s ease;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 1s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background: orange;
  color: #000;
}
.switch.active::after {
  right: 0px;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/* Componentes */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

#index {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1f005e, #8E2DE2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1f005e, #8E2DE2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  height: 100vh;
  min-height: 1000px;
}
body.dark #index {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

#productos {
  background: #AAFFA9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgb(79, 190, 255), rgb(170, 255, 169));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgb(79, 190, 255), rgb(170, 255, 169));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  height: 100vh;
  min-height: 1000px;
}
body.dark #productos {
  background: #02a900;
  background: -webkit-linear-gradient(to bottom, #00324f, #02a900);
  background: linear-gradient(to bottom, #00324f, #014300);
}

#simuladorInteractivo {
  background: #8E2DE2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  height: 100vh;
  min-height: 1000px;
}
body.dark #simuladorInteractivo {
  background: #8E2DE2;
  background: -webkit-linear-gradient(to top, black, #3c0b54, #430307);
  background: linear-gradient(to top, black, #3c0b54, #430307);
}

nav {
  width: 100%;
  font-family: monospace, arial;
  z-index: 99;
  top: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  transition: 1s ease all;
}
body.dark nav {
  background: black !important;
  box-shadow: 0 1px 1px rgba(119, 136, 153, 0.5) !important;
}
body.dark nav a {
  color: #cecece !important;
}

a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: turquoise !important;
}
body.dark a:hover {
  color: #aafff6 !important;
}

.menuSideBar {
  animation: menubarside 0.7s 1 backwards cubic-bezier(0.47, 0.96, 0.31, 0.93) 0s;
}

.transition {
  transition-duration: 0.1s;
}

.menuitem-0 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.2s;
}

.menuitem-1 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.3s;
}

.menuitem-2 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.4s;
}

.menuitem-3 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.5s;
}

.menuitem-4 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.6s;
}

.menuitem-5 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.7s;
}

.menuitem-6 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.8s;
}

.menuitem-7 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 0.9s;
}

.menuitem-8 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 1s;
}

.menuitem-9 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 1.1s;
}

.menuitem-10 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 1.2s;
}

.menuitem-11 {
  animation: menuitem 0.7s 1 backwards cubic-bezier(0.34, 1.6, 0.42, 0.82) 1.3s;
}

/** Index **/
/** Color title **/
.colorTitle {
  display: flex;
  flex-direction: row;
  padding: 10px;
  animation: izquierda 1s 1 backwards linear 0.3s;
  transition: all 0.5s;
}

.colorTitle:hover {
  filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.6));
}

.colorTitle p {
  opacity: 0;
}

.colorTitle span {
  font-family: "poppins";
  transition: all 0.3s;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.colorTitle span:hover {
  filter: contrast(300%);
  -webkit-filter: contrast(300%);
}

@media (min-width: 768px) {
  .colorTitle span {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .colorTitle span {
    font-size: 60px;
  }
}
.colorTitle span:hover {
  transform: scale(1.2);
}

.colorTitle span:nth-child(1) {
  color: #ef5a70;
}
.colorTitle span:nth-child(1):hover {
  text-shadow: #ef5a70 0px 0px 100px;
}

.colorTitle span:nth-child(2) {
  color: #d228c1;
}
.colorTitle span:nth-child(2):hover {
  text-shadow: #d228c1 0px 0px 100px;
}

.colorTitle span:nth-child(3) {
  color: #8345f9;
}
.colorTitle span:nth-child(3):hover {
  text-shadow: #8345f9 0px 0px 100px;
}

.colorTitle span:nth-child(4) {
  color: #455afe;
}
.colorTitle span:nth-child(4):hover {
  text-shadow: #455afe 0px 0px 100px;
}

.colorTitle span:nth-child(5) {
  color: #4fe1f7;
}
.colorTitle span:nth-child(5):hover {
  text-shadow: #4fe1f7 0px 0px 100px;
}

.colorTitle span:nth-child(6) {
  color: #2abdd0;
}
.colorTitle span:nth-child(6):hover {
  text-shadow: #2abdd0 0px 0px 100px;
}

.colorTitle span:nth-child(7) {
  color: #2ab7d0;
}
.colorTitle span:nth-child(7):hover {
  text-shadow: #2ab7d0 0px 0px 100px;
}

.colorTitle span:nth-child(8) {
  color: #7de482;
}
.colorTitle span:nth-child(8):hover {
  text-shadow: #7de482 0px 0px 100px;
}

.colorTitle span:nth-child(9) {
  color: #afee66;
}
.colorTitle span:nth-child(9):hover {
  text-shadow: #afee66 0px 0px 100px;
}

.colorTitle span:nth-child(10) {
  color: #ffee56;
}
.colorTitle span:nth-child(10):hover {
  text-shadow: #ffee56 0px 0px 100px;
}

.colorTitle span:nth-child(11) {
  color: #ecb200;
}
.colorTitle span:nth-child(11):hover {
  text-shadow: #ecb200 0px 0px 100px;
}

.colorTitle span:nth-child(12) {
  color: #ff8365;
}
.colorTitle span:nth-child(12):hover {
  text-shadow: #ff8365 0px 0px 100px;
}

.colorTitle span:nth-child(13) {
  color: #ef5a70;
}
.colorTitle span:nth-child(13):hover {
  text-shadow: #ef5a70 0px 0px 100px;
}

.colorTitle span:nth-child(14) {
  color: #d228c1;
}
.colorTitle span:nth-child(14):hover {
  text-shadow: #d228c1 0px 0px 100px;
}

.colorTitle span:nth-child(15) {
  color: #8345f9;
}
.colorTitle span:nth-child(15):hover {
  text-shadow: #8345f9 0px 0px 100px;
}

.colorTitle span:nth-child(16) {
  color: #455afe;
}
.colorTitle span:nth-child(16):hover {
  text-shadow: #455afe 0px 0px 100px;
}

.colorTitle span:nth-child(17) {
  color: #4fe1f7;
}
.colorTitle span:nth-child(17):hover {
  text-shadow: #4fe1f7 0px 0px 100px;
}

.colorTitle span:nth-child(18) {
  color: #2abdd0;
}
.colorTitle span:nth-child(18):hover {
  text-shadow: #2abdd0 0px 0px 100px;
}

/** Fin Color title**/
h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Poppins", arial;
  animation: derecha 1s 1 backwards linear 0.3s;
}

@media (min-width: 768px) {
  .frontEndTitle h1 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}
h1 span {
  color: orange;
  font-weight: bolder;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
body.dark h1 span {
  color: darkorange;
  text-shadow: 1px 1px 1px black;
}

h1:hover span {
  color: #11FFBD;
  filter: drop-shadow(0 0 50px turquoise);
}

/* carrito */
#productosCounter {
  color: rgb(255, 255, 255);
  font-size: 10px;
}

.my-canvas {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 15px;
  height: fit-content;
}
body.dark .my-canvas {
  background-color: #373737;
  color: white;
}

.offcanvas-body {
  overflow: overlay;
  max-height: 70vh;
}

.carrito {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
  flex-direction: row;
}

@media (max-width: 990px) {
  .carrito {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
  }
}
.carrito img {
  width: 25px;
  flex-direction: row;
  margin: 0px 10px 0px 10px;
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -ms-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#carrito-wrapper {
  background-color: rgba(128, 128, 128, 0.103);
}
#carrito-wrapper .img-carrito {
  object-fit: cover;
  width: 70px;
  margin: 10px;
}
#carrito-wrapper .card-detalle {
  padding: 0em 1em;
}
#carrito-wrapper .card-detalle body.dark {
  color: white !important;
}
#carrito-wrapper .card-detalle .card-title {
  font-weight: 700;
  color: black;
  border-bottom: 1px gray solid;
  text-align: start;
}
#carrito-wrapper .card-detalle .card-title body.dark {
  color: white !important;
}
#carrito-wrapper .card-detalle .card-text {
  color: black;
  margin-bottom: 1px;
}
#carrito-wrapper .card-detalle .card-text body.dark {
  color: white !important;
}
#carrito-wrapper .eliminar {
  align-self: center;
  background-color: rgba(0, 0, 255, 0.5);
  border: none;
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.totalCarrito {
  border: 2px solid rgba(136, 136, 136, 0.37);
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: 338px;
  margin: 10px auto;
  background-color: white;
  color: rgb(71, 71, 71);
  font-weight: bold;
}

.botonCarrito {
  display: flex;
  justify-content: space-around;
}
.botonCarrito .pagar {
  border: 2px solid rgb(12, 32, 214);
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  padding: 0.5em 2em;
  margin-bottom: 1em;
  background-color: white;
  color: rgb(71, 71, 71);
  font-weight: bold;
}
.botonCarrito .pagar:hover {
  background-color: rgb(12, 32, 214);
  color: white;
}
.botonCarrito .vaciar-carrito {
  border: 2px solid rgba(136, 136, 136, 0.37);
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: white;
  color: rgb(71, 71, 71);
  font-weight: bold;
}

body.dark .card {
  background-color: #373737;
}

/** Tienda **/
.tienda-titulo {
  margin-top: 100px;
  font-size: 80px;
}

.tit-productos {
  max-width: 1140px;
  margin: auto;
}
.tit-productos h2 {
  font-size: 2.5em;
  text-align: center;
  padding: 0.5em 0em;
  border-bottom: 1px solid gray;
  margin: 1em;
}
@media screen and (max-width: 576px) {
  .tit-productos {
    font-size: 14px;
  }
}

.categoria-productos {
  margin: 2em 2em 0em 2em;
  padding: 0.5em 2em;
  background-color: #e9e5d5;
  color: #4f69b1;
  border-radius: 20px;
  text-align: start;
}
@media screen and (max-width: 575px) {
  .categoria-productos {
    text-align: center;
    margin: 0em;
    font-size: 20px;
  }
}

.productos__card {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.productos__card div {
  width: 200px;
}
.productos__card div .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1em;
  background-color: rgba(240, 248, 255, 0.363);
  color: black;
  font-weight: bolder;
  padding: 10px;
}
.productos__card div .card img {
  width: 70px;
  padding-bottom: 1em;
}
.productos__card div .card .card-text {
  color: black;
  text-align: center;
}
.btn {
  font-size: 12px;
}

.productos__card div .card .btn {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 5%;
  color: white;
  border: none;
  transition: all 0.2s;
}
.productos__card div .card .btn:hover {
  color: white;
  transform: scale(1.05);
}
.productos__card div .card .btn a {
  text-decoration: none;
  color: white;
}

.iniciar-sesion {
  position: absolute;
  left: 10px;
}

.iniciar-sesion p {
  font-size: 12px;
  padding: 13px;
  margin: 0;
  cursor: pointer;
}

/* ------------------------------ fin tienda ----------------------------- */
/* Login */
.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.377);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  color: black;
}

.login--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
}

.login-container {
  background-color: white;
  width: 90%;
  margin: auto;
  max-width: 50em;
  max-height: 90%;
  z-index: 9999 !important;
  border-radius: 6px;
  padding: 1em 1em 3em 2.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}
body.dark .login-container {
  background-color: #373737;
  color: white;
}
.login-container .contacto-form {
  display: flex;
  justify-content: flex-start;
  align-items: "";
  flex-direction: column;
}
.login-container .contacto-form .login-title {
  font-size: 2em;
  padding-bottom: 1.5em;
  padding-top: 0.5em;
  color: black;
  text-align: center;
}
body.dark .login-container .contacto-form .login-title {
  color: white;
}
.login-container .contacto-form .form-row {
  display: flex;
  justify-content: flex-start;
  align-items: "";
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.login-container .contacto-form .form-row label {
  margin-bottom: 0.5em;
}
.login-container .contacto-form .form-check {
  margin-bottom: 2em;
}
.login-container .contacto-form .login-btn {
  color: white;
  background-color: rgb(219, 206, 161);
  padding: 0.8em 3em;
  border-radius: 6px;
  border: 1px solid white;
  text-align: center;
}
.login-container .login-close {
  display: flex;
  justify-content: "";
  align-items: "end";
  flex-direction: column;
}
.login-container .login-close .cerrar {
  display: flex;
  justify-content: space-between;
}
.login-container .login-img {
  width: 100%;
  padding-right: 1.5em;
  padding-top: 0.8em;
}

.login--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
}

.login--borrar {
  display: none;
}

/****************** fin login ******************/
.simulador-titulo {
  margin-top: 100px;
  font-size: 50px;
}

.botonesBox {
  z-index: 9;
}

.consigna {
  font-size: 15px;
}

.consigna img {
  width: 30px;
}

.boton {
  display: flex;
  align-content: center;
  color: black;
  background-color: white;
  width: 250px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  margin: 3px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
body.dark .boton {
  background-color: rgb(32, 51, 51);
  box-shadow: 1px 1px 1px rgba(119, 136, 153, 0.5);
  color: white;
}

.boton:hover {
  background-color: #373737;
  color: white;
  cursor: pointer;
}
body.dark .boton:hover {
  background-color: rgb(37, 37, 37);
}

.imgnew {
  width: 10%;
  margin-left: 5px;
}

.wave {
  width: 100px;
}

.container1 {
  display: flex;
  align-content: center;
  width: 250px;
  height: 30px;
  justify-content: center;
  font-size: 18px;
  margin: 3px;
  border-radius: 15px;
  background-color: lime;
  color: black;
  border: solid red 2px;
}

/* ------------------------------ fin Simulador----------------------------- */

/*# sourceMappingURL=style.css.map */
